<!-- js의 용량이 크면 클 수록 화면 그리는게 느려지므로 body 다 실행 후 js 로딩 될 수 있도록 하단에 위치 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>

</body>
</html>
